.SignGlobal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 10px 10px 8px #888888;

}
.SignGlobal form{
    margin: 20px;
}
.SignGlobal h1{
    margin: 20px;

}
.SignGlobal label{
    font-size: x-large;
}